<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net471" />
  <package id="Selenium.WebDriver.IEDriver" version="3.141.0" targetFramework="net471" />
  <package id="WebTestSuite" version="0.0.0-alpha" targetFramework="net471" />
</packages>